.innovation {
    background-image:  url(../img/blur-container.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20%;

    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 43px;

        text-align: center;
        letter-spacing: 0.2px;
        text-transform: uppercase;

        color: #FFFFFF;
    }
}