.services {
    display: flex;
}

.card {
    width: 49%;
    padding: 20% 3% 3% 3%   ;
    
    &__bg--first {
        background-image: url(../img/services-1.png);
        background-size: cover;
        margin-right: 1%;
    }

    &__bg--second {
        background-image: url(../img/services-2.png);
        background-size: cover;
        margin-left: 1%;
    }

    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 43px;

        text-align: center;
        letter-spacing: 0.5px;

        color: #FFFFFF;
    }

    &__subtitle {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;

        text-align: center;

        color: #FFFFFF;
    }

    &__btn {
        background: none;
        border: none;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;

        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;

        color: #FFFFFF;
    }

    &__btn--container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}