.slider {
  padding: 3% 2%;

}

.slide {
  width: 30%;

  display: flex;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  
  text-align: center;
  letter-spacing: 0.8px;
  
  color: #1B1B1B;

  &__img {
    width: 50%;
    
    margin: 0% 25%;
  }
  
}

.my-dots {
    position: absolute;
    display: flex;
    width: 96%;
    padding: 0;
    list-style: none;
    text-align: center;
    justify-content: center;
  
  }
  
  .my-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }
  
  .my-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 5px;
    height: 5px;
    // padding: 5px;
    cursor: pointer;
    color: #1B1B1B;
    border: 0;
    outline: none;
    background: transparent;
  }
  
  .my-dots li button:hover,
  .my-dots li button:focus {
    outline: none;
  }
  
  .my-dots li button:hover:before,
  .my-dots li button:focus:before {
    opacity: 1;
  }
  
  .my-dots li button:before {
    font-family: 'slick';
    font-size: 50px;
    line-height: 20px;
    position: absolute;
    
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    content: '▪';
    text-align: center;
    opacity: .25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    /* Обводка маркеров */
    
    /* WebKit (Safari/Chrome) Only */
    -webkit-text-stroke: 1px #1B1B1B;
     
  }
  
  .my-dots li.slick-active button:before {
    opacity: .75;

  }